.modal {
    display: flex;
    justify-content: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(107, 71, 71);
    color: white;
    margin: 10px;
}

.h2 {
    display: flex;
    justify-content: center;
}

.modal-actions{
    display: flex;
    justify-content: space-evenly;
}

